@media print
   {
    @page {
        size: A4;
    }
    body {
       font-size: 7pt;
       background: #ffffff;
    }

   //  img.avatar {
   //      filter: grayscale(1);
   //      -webkit-filter: greyscale(1);
   //  }
   .main-wrapper .time {
       float: right;
      //   color: black ;
        -webkit-print-color-adjust: exact; 
   }
    .sidebar-wrapper {
        position: static;
        float: right;
        width: 220px;
        height: 1015px;
        -webkit-print-color-adjust: exact; 
    }

   //  .remove-container.container-block {
   //     display: none;
   //  }

    footer {
       display: none;
    }

   //  .skillset .level-bar-inner {
   //     background-color: black !important;
   //     -webkit-print-color-adjust: exact; 
   //  }

}

@media print and (min-width: 768px)  {
   
   body{
      padding: 0;
   }

   .sidebar-wrapper {
      position: static;
      width: inherit;
   }

   .main-wrapper {	
      padding-right: 285px;
  }

   .main-wrapper .time {
      position: static;
      display: block;
      margin-top: 5px;
   }

   .main-wrapper .upper-row {
      margin-bottom: 0;
   }
}